@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>@ViewBag.CompanyName</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">

    <meta name="author" content="">

    <!-- Le styles -->

    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <link href="~/Content/style.css?v=1.1.1" rel="stylesheet">

    <link href="~/Content/camera.css" rel="stylesheet">

    <!--图标-->
    <link href="~/Content/icons.css?v_1.1.1" rel="stylesheet">

    <link rel="stylesheet" id="main-color" href="~/Content/skin-orange.css" media="screen" />

    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

      <script src="~/js/html5shiv.js"></script>

    <![endif]-->

</head>

<body class="boxed">

    <div class="body">

        <!-- Navigation -->

        <header>

            <div class="container clearfix">

                <div class="row-fluid">

                    <div class="span12">

                        <h1 class="brandlogo"><a href="/Home/index"><img src="~/img/logo.png" alt=""></a></h1>

                        <div class="topinfo">

                            <ul class="social-icons list-soc">

                                <li><a href="javascript:;"><i title="分享到QQ好友" class="icon-qq"></i></a></li>

                                <li><a href="javascript:;"><i title="分享到微信" class="icon-wechat"></i></a></li>

                                <li><a href="javascript:;"><i title="分享到新浪微博" class="icon-weibo"></i></a></li>

                                <li><a href="javascript:;"><i title="分享到领英" class="icon-linkedin"></i></a></li>

                                <li><a href="javascript:;"><i title="分享到人人网" class="icon-renren"></i></a></li>

                            </ul>

                            <div class="infophone">

                                <i class="icon-phone"></i> Tel: @ViewBag.Tel

                            </div>

                            <div class="infoaddress">

                                @ViewBag.Address

                            </div>

                        </div>

                        <div class="clearfix">

                        </div>

                        <div class="row-nav navbar">

                            <div class="navbar-inner">

                                <ul id="nav" class="nav">
                                    <script src="~/Scripts/jquery/jquery/1.11.3/jquery.js"></script>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $.ajax({
                                                url: 'TopNav',
                                                type: 'POST',
                                                async: false,
                                                dataType: "json",
                                                beforeSend: function () {
                                                    $("#nav").html("<div style='width:120px;margin: 0 auto;color:#fff'> <img src= '/Images/loading.gif' width= '32px' height= '32px' align= 'absmiddle' /> 正在加载...</div > ");
                                                },
                                                ContentType: "application/json;charset=utf-8",
                                                success: function (responseList) {
                                                    var buf = [];
                                                    for (var i = 0; i < responseList.length; i++) {
                                                        var modelParent = responseList[i];

                                                        if (modelParent.Pid === "0" && modelParent.Url != "#") {
                                                            buf.push("<li><a href=" + modelParent.Url + " target=\"main\">" + modelParent.Title + "</a></li>");
                                                            buf.push("<li class=\"divider-vertical\"></li>");
                                                        } else {
                                                            var childList = new Array();
                                                            var tempchildi = 0;
                                                            for (var k = 0; k < responseList.length; k++) {
                                                                if (responseList[k].Pid === "0") continue;
                                                                if (responseList[k].Pid === modelParent.Id) {
                                                                    childList[tempchildi] = responseList[k];
                                                                    tempchildi++;
                                                                }
                                                            }

                                                            if (modelParent.Url == "#") {
                                                                buf.push("<li class=\"dropdown\"><a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\">" + modelParent.Title + "<b class=\"caret\"></b></a>");
                                                            }

                                                            if (childList.length > 0) {
                                                                buf.push("<ul class=\"dropdown-menu js-activated\" style=\"display: none;\">");
                                                                for (var j = 0; j < childList.length; j++) {
                                                                    buf.push("<li> <a href=" + childList[j].Url + "  target=\"main\">" + childList[j].Title + "</a></li>");
                                                                }
                                                            }
                                                            buf.push("</ul></li>");
                                                        }
                                                        //buf.push("<li class=\"divider-vertical\"></li>");
                                                    }

                                                    // buf.push("<li class=\"divider-vertical\"></li>");
                                                    $("#nav").html(buf.join(""));
                                                    $("#nav").find("li.dropdown").after("<li class=\"divider-vertical\"></li>");
                                                },
                                                error: function (xmlHttpRequest, textStatus, errorThrown) {
                                                    MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                                                    $("#nav").html("数据加载失败,请稍后再试.");
                                                }


                                            });
                                        });
                                    </script>

                                </ul>

                                <form id="search" action="#" method="GET">

                                    <input type="text" onFocus="if(this.value =='在这里输入搜索关键字...' ) this.value=''" onBlur="if(this.value=='') this.value='在这里输入搜索关键字...'"
                                           value="在这里输入搜索关键字..." name="s">

                                    <a href="#"></a>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </header>

        <div class="text-center">

            <img src="~/img/sha.png" class="slidershadow" alt="">

        </div>


        <!-- /end header -->
        <!-- <div class="copyrights">Collect from *****</div> -->

        <div class="container-fluid">
            <!--内容-->
            <iframe id="main" name="main" frameborder="0" width="100%" scrolling="no" src="/Home/Content"></iframe>
        </div>

        <!-- FOOTER BEGIN

        ================================================== -->

        <div class="footer footerdark">

            <div class="text-center wraptotop">

                <a class="totop"><i class="icon-chevron-up"></i></a>

            </div>

            <div class="container">

                <!-- 1st row -->

                <div class="row-fluid">

                    <div class="span4">

                        <h1 class="title"><i class="icon-heart"></i> 关于我们</h1>

                        <hr>

                        <p style="text-indent:25px;">
                    
                            @ViewBag.CInfoD

                        </p>

                        <p class="footerlogo">

                            LDRaft

                        </p>

                    </div>

                    <div class="span4">

                        <h1 class="title">Testimonials</h1>

                        <hr>

                        <div id="quotes">

                            <div class="textItem">

                                <div class="avatar">

                                    <img src="~/img/demo/test1.png" alt="avatar">

                                </div>

                                "Before turning to those moral and mental aspects of the matter which present the greatest difficulties, let the inquirer
                                begin by mastering more elementary problems.<span style="font-family:arial;">"</span><br /><b> Jesse T, Los Angeles </b>

                            </div>

                            <div class="textItem">

                                <div class="avatar">

                                    <img src="~/img/demo/test2.gif" alt="avatar">

                                </div>

                                "How often have I said to you that when you have eliminated the impossible, whatever remains, however improbable, must be
                                the truth?<span style="font-family:arial;">"</span><br /><b>Ralph G. Flowers </b>

                            </div>

                            <div class="textItem">

                                <div class="avatar">

                                    <img src="~/img/demo/test1.png" alt="avatar">

                                </div>

                                "It is a capital mistake to theorize before one has data. Insensibly one begins to twist facts to suit theories, instead
                                of theories to suit facts.<span style="font-family:arial;">"</span><br /><b>Kerry I. McClanahan </b>

                            </div>

                            <div class="textItem">

                                <div class="avatar">

                                    <img src="~/img/demo/test2.gif" alt="avatar">

                                </div>

                                "We must fall back upon the old axiom that when all other contingencies fail, whatever remains, however improbable, must
                                be the truth.<span style="font-family:arial;">"</span><br /><b>Randy K. Deleon </b>

                            </div>

                        </div>

                    </div>

                    <div class="span4">

                        <h1 class="title">有问题吗?</h1>

                        <hr>

                        <div class="done">

                            <div class="alert alert-success">

                                <button type="button" class="close" data-dismiss="alert">×</button> 你的信息已经发送了。谢谢你！

                            </div>

                        </div>
                        <div id="done_warning" style="display:none;">

                            <div class="alert alert-warning warning">

                            <button type="button" class="close" data-dismiss="alert">×</button>信息发送失败!每天只允许发送<span style='color:red;'>5条</span>问题.

                            </div>
                        </div>

                        <div id="done_error" style="display:none;">
                            <div class="alert alert-error error">
                               <button type="button" class="close" data-dismiss="alert">×</button>验证码错误!点击[<span harf="javascript:;" id="refresh">验证码</span>],刷新再试一次.
                            </div>
                        </div>

                        <form method="post" action="/Home/Question" id="contactform">

                            <div class="form">

                                <div class="controls controls-row">

                                    <input class="span6" type="text" maxlength="50" name="name" placeholder="姓名">

                                    <input class="span6" type="text" maxlength="25" name="email" placeholder="邮箱">

                                </div>

                                <div class="controls">

                                    <textarea style="resize:none" class="span12" name="comment" maxlength="250" rows="4" placeholder="消息"></textarea>

                                </div>

                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <!--<input class="span2" type="text" name="Qcode" maxlength="4" placeholder="验证码">-->
                                        <input class="col-md-2" type="text" name="Qcode" id="Qcode" maxlength="4" placeholder="验证码">
                                        <img src="" id="imgcode" alt="看不清，换一张" title="看不清，换一张" style="cursor:pointer;margin-bottom:10px;" />
                                    </div>
                                    <div class="col-md-4">

                                        <input type="submit" id="submit" class="btn" value="发送">
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

        <!-- 2nd row -->

        <div class="footerbottom footerbottomdark">

            <div class="container">

                <div class="row-fluid">

                    <!-- left -->

                    <div class="span4 smallspacetop">

                        <p class="smaller">

                            <span class="copyright">© </span> @ViewBag.Copyright

                        </p>

                    </div>

                    <!-- right -->

                    <div class="span8 smallspacetop">

                        <div class="pull-right smaller">

                            <ul class="footermenu">

                                @*<script type="text/javascript">
                                     $(document).ready(function () {
                                         $.ajax({
                                             url: 'BottomNav',
                                             type: 'POST',
                                             async: false,
                                             dataType: "json",
                                             beforeSend: function () {
                                                 $(".footermenu").html("<div style='width:120px;margin: 0 auto;color:#fff'> <img src= '/Images/loading.gif' width= '32px' height= '32px' align= 'absmiddle' /> 正在加载...</div > ");
                                             },
                                             ContentType: "application/json;charset=utf-8",
                                             success: function (responseList) {
                                                 var buf = [];
                                                 for (var i = 0; i < responseList.length; i++) {
                                                     var modelParent = responseList[i];

                                                     if (modelParent.Pid === "0" && modelParent.Url != "#") {
                                                         buf.push("<li><a href=" + modelParent.Url + " target=\"main\">" + modelParent.Title + "</a></li>");
                                                         buf.push("<li class=\"divider-vertical\"></li>");
                                                     } else {
                                                         var childList = new Array();
                                                         var tempchildi = 0;
                                                         for (var k = 0; k < responseList.length; k++) {
                                                             if (responseList[k].Pid === "0") continue;
                                                             if (responseList[k].Pid === modelParent.Id) {
                                                                 childList[tempchildi] = responseList[k];
                                                                 tempchildi++;
                                                             }
                                                         }

                                                         if (modelParent.Url == "#") {
                                                             buf.push("<li class=\"dropdown\"><a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\">" + modelParent.Title + "<b class=\"caret\"></b></a>");
                                                         }

                                                         if (childList.length > 0) {
                                                             buf.push("<ul class=\"dropdown-menu js-activated\" style=\"display: none;\">");
                                                             for (var j = 0; j < childList.length; j++) {
                                                                 buf.push("<li> <a href=" + childList[j].Url + "  target=\"main\">" + childList[j].Title + "</a></li>");
                                                             }
                                                         }
                                                         buf.push("</ul></li>");
                                                     }
                                                     //buf.push("<li class=\"divider-vertical\"></li>");
                                                 }

                                                 // buf.push("<li class=\"divider-vertical\"></li>");
                                                 $("#nav").html(buf.join(""));
                                                 $("#nav").find("li.dropdown").after("<li class=\"divider-vertical\"></li>");
                                             },
                                             error: function (xmlHttpRequest, textStatus, errorThrown) {
                                                 MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                                                 $("#nav").html("数据加载失败,请稍后再试.");
                                             }


                                         });
                                     });
                                </script>*@



                            </ul>

                        </div>

                        <div class="clearfix">

                        </div>

                    </div>

                    <!-- end right -->

                </div>

            </div>

        </div>

        <!-- FOOTER END

        ================================================== -->

    </div>

    <!-- /.body -->
    <!--  javascript

    ================================================== -->
    <!-- js放置在文档的末尾，这样页面加载更快-->

    <!--上面有jQuery v1.11.3-->
    <!--以下版本jQuery v1.8.3-->
    <!--<script src="~/js/jquery.js"></script>-->

    <script src="~/js/bootstrap.js"></script>

    <script src="~/js/plugins.js"></script>

    <script src="~/js/custom.js"></script>

    <!-- 调用相机滑块 -->

    <script>
            jQuery(function () {

                jQuery('#camera_wrap_4').camera({

                    height: 'auto',

                    loader: 'bar',

                    pagination: false,

                    thumbnails: false,

                    hover: true,

                    opacityOnGrid: false,

                    fx: 'random',

                    transPeriod: 1500,

                    time: 7000,

                    overlayer: true,

                    imagePath: '/img/'

                });

            });

    </script>

    <!-- 调用特色工作-->
    @*<script type="text/javascript">
                                        $(window).load(function () {

                                            $('#recent-projects').carouFredSel({

                                                responsive: true,

                                                width: '100%',

                                                auto: true,

                                                circular: true,

                                                infinite: false,

                                                prev: {

                                                    button: "#car_prev",

                                                    key: "left",

                                                },

                                                next: {

                                                    button: "#car_next",

                                                    key: "right",

                                                },

                                                swipe: {

                                                    onMouse: true,

                                                    onTouch: true

                                                },

                                                scroll: 1500,

                                                items: {

                                                    visible: {

                                                        min: 1,

                                                        max: 1

                                                    }

                                                }

                                            });

                                        });

        </script>*@

    <!-- 调用手风琴 -->

    <script type="text/javascript">
            $(".accordion h3").eq(0).addClass("active");

            $(".accordion .accord_cont").eq(0).show();

            $(".accordion h3").click(function () {

                $(this).next(".accord_cont").slideToggle("slow")

                    .siblings(".accord_cont:visible").slideUp("slow");

                $(this).toggleClass("active");

                $(this).siblings("h3").removeClass("active");

            });

    </script>

    <!-- 调用从最近的新闻中可以看到不透明度-->

    <script type="text/javascript">
            $(document).ready(function () {

                $("img.imgOpa").hover(function () {

                    $(this).stop().animate({ opacity: "0.6" }, 'slow');

                },

                    function () {

                        $(this).stop().animate({ opacity: "1.0" }, 'slow');

                    });

            });

    </script>

    <!--BEGIN DEMO PANEL

    ================================================== -->
    <!-- Style Switcher Files-->

    <link rel="stylesheet" href="~/demo/css/style-switcher.css" media="screen" />

    <link rel="stylesheet" href="~/demo/css/colorpicker.css" media="screen" />

    <script type="text/javascript" src="~/demo/js/jquery.cookie.js"></script>

    <script type="text/javascript" src="~/demo/js/styleswitch.js"></script>

    <script type="text/javascript" src="~/demo/js/colorpicker.js"></script>

    <script type="text/javascript" src="~/demo/js/switcher.js"></script>

    <!-- DEMO PANEL -->

    <div id="switcher-handle">

        <a class="" id="handle" href="#">feedback</a>

        <div id="style-switcher">

            <div id="switcher-header">

                <p>

                    主题选择

                </p>

            </div>

            <div id="switcher-body">

                <p>

                    <strong>布局风格</strong>

                </p>

                <select id="layout">

                    <option value="boxed">Boxed</option>

                    <option value="wide">Wide</option>

                </select>



                <p>

                    <strong>配色方案</strong>

                </p>



                <div class="colors-holder">

                    <a href="#" class="color-box" data-rel="e7402f"></a>

                    <a href="#" class="color-box" data-rel="0E8FAB"></a>

                    <a href="#" class="color-box" data-rel="44cfc8"></a>

                    <a href="#" class="color-box" data-rel="9DC500"></a>

                    <a href="#" class="color-box" data-rel="76719a"></a>

                    <a href="#" class="color-box" data-rel="f2a020"></a>

                    <a href="#" class="color-box" data-rel="33bee5"></a>

                    <a href="#" class="color-box" data-rel="e44884"></a>

                    <a href="#" class="color-box" data-rel="18adb5"></a>

                    <a href="#" class="color-box" data-rel="f0b70c"></a>



                    <a href="#" class="color-box" data-rel="346b7f"></a>

                    <a href="#" class="color-box" data-rel="aecdcf"></a>

                    <a href="#" class="color-box" data-rel="be9869"></a>

                    <a href="#" class="color-box" data-rel="bf6c2f"></a>

                    <a href="#" class="color-box" data-rel="1abc9c"></a>

                    <a href="#" class="color-box" data-rel="7f8c8d"></a>

                    <a href="#" class="color-box" data-rel="b4ad7f"></a>

                    <a href="#" class="color-box" data-rel="fe6c6c"></a>

                    <a href="#" class="color-box" data-rel="e66a47"></a>

                    <a href="#" class="color-box" data-rel="50e9f3"></a>

                </div>

                <div class="switcher-divider">

                </div>



                <p>

                    <strong>背景模式(boxed)</strong>

                </p>

                <div class="colors-holder">

                    <a data-rel="1" class="bg-box" href="#"></a>

                    <a data-rel="2" class="bg-box" href="#"></a>

                    <a data-rel="3" class="bg-box" href="#"></a>

                    <a data-rel="4" class="bg-box" href="#"></a>

                    <a data-rel="5" class="bg-box" href="#"></a>

                    <a data-rel="6" class="bg-box" href="#"></a>

                    <a data-rel="7" class="bg-box" href="#"></a>

                    <a data-rel="8" class="bg-box" href="#"></a>

                    <a data-rel="9" class="bg-box" href="#"></a>

                    <a data-rel="10" class="bg-box" href="#"></a>

                    <a data-rel="11" class="bg-box" href="#"></a>

                    <a data-rel="12" class="bg-box" href="#"></a>

                    <a data-rel="13" class="bg-box" href="#"></a>

                    <a data-rel="14" class="bg-box" href="#"></a>

                    <a data-rel="15" class="bg-box" href="#"></a>

                    <a data-rel="16" class="bg-box" href="#"></a>

                    <a data-rel="17" class="bg-box" href="#"></a>

                    <a data-rel="18" class="bg-box" href="#"></a>

                    <a data-rel="19" class="bg-box" href="#"></a>

                    <a data-rel="20" class="bg-box" href="#"></a>

                    <a data-rel="21" class="bg-box" href="#"></a>

                    <a data-rel="22" class="bg-box" href="#"></a>

                    <a data-rel="23" class="bg-box" href="#"></a>

                    <a data-rel="24" class="bg-box" href="#"></a>

                </div>


                <div class="switcher-divider">

                </div>



                <p>

                    <strong>背景图片(boxed)</strong>

                </p>

                <div class="colors-holder">

                    <a data-rel="pic1" class="bgimg-box" href="#"></a>

                    <a data-rel="pic2" class="bgimg-box" href="#"></a>

                    <a data-rel="pic3" class="bgimg-box" href="#"></a>

                    <a data-rel="pic4" class="bgimg-box" href="#"></a>

                    <a data-rel="pic5" class="bgimg-box" href="#"></a>

                    <a data-rel="pic6" class="bgimg-box" href="#"></a>

                    <a data-rel="pic7" class="bgimg-box" href="#"></a>

                    <a data-rel="pic8" class="bgimg-box" href="#"></a>

                    <br /><br />

                </div>



            </div>



            <div id="switcher-footer">

                <p>

                    <a href="http://www.ldraft.com/" target="_blank"><img src="~/demo/images/logowowthemes.png"></a>

                </p>

            </div>

        </div>

    </div>

    <!-- END DEMO PANEL-->
    @* 数据处理 *@
    @*  <script src="/Scripts/require/require/2.2.0/require.js"></script>
        <script src="/Scripts/require/config/1.0.0/require.config.js?v=1.2.3"></script>
        <script type="text/javascript">
            require(["jquery", "MISSY"], function () {
                $(function () {
                    //  initPage();
                });
            });
        </script>
               function initPage() {
                    // topNav();
                };

                //菜单导航
                function topNav() {
                    $.ajax({
                        url: 'TopNav',
                        type: 'POST',
                        async: false,
                        dataType: "json",
                        beforeSend: function () {
                            $("#nav").html("<div style='width:120px;margin: 0 auto;color:#fff'> <img src= '/Images/loading.gif' width= '32px' height= '32px' align= 'absmiddle' /> 正加载...</div > ");
                        },
                        ContentType: "application/json;charset=utf-8",
                        success: function (responseList) {
                            var buf = [];
                            //for (var i = 0; i < responseList.length; i++) {
                            //    var modelParent = responseList[i];

                            //    if (modelParent.Pid === "0" && modelParent.Url != "#") {
                            //        buf.push("<li><a href=" + modelParent.Url + ">" + modelParent.Title + "</a></li>");
                            //        buf.push("<li class=\"divider-vertical\"></li>");
                            //    } //else {
                            //    //var childList = new Array();
                            //    //var tempchildi = 0;
                            //    //for (var k = 0; k < responseList.length; k++) {
                            //    //    if (responseList[k].Pid === "0") continue;
                            //    //    if (responseList[k].Pid === modelParent.Id) {
                            //    //        childList[tempchildi] = responseList[k];
                            //    //        tempchildi++;
                            //    //    }
                            //    //}

                            //    //if (modelParent.Url == "#") {
                            //    //    buf.push("<li class=\"dropdown\"><a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\">" + modelParent.Title + "<b class=\"caret\"></b></a>");
                            //    //}

                            //    //if (childList.length > 0) {
                            //    //    buf.push("<ul class=\"dropdown-menu js-activated\" style=\"display: none;\">");
                            //    //    for (var j = 0; j < childList.length; j++) {
                            //    //        buf.push("<li> <a href=" + childList[j].Url + ">" + childList[j].Title + "</a></li>");
                            //    //    }


                            //    //}
                            //    //buf.push("</ul></li>");

                            //    //}
                            //    //buf.push("<li class=\"divider-vertical\"></li>");
                            //}

                            //$("#nav").html(buf.join(""));
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            MISSY.iDebugAjaxError(xmlHttpRequest, textStatus, errorThrown);
                            $("#nav").html("数据加载失败,请稍后再试.");
                        }
                    });
                };



            });
        </script>*@


</body>

</html>
